{% extends 'base.html.twig' %}

{% block meta_keywords %}Перевозка пассажиров, транспорт перевозки, муп экспресс, о компании, предприятие экспресс, транпортная компания, вид деятельность муп, юр. адресс, о муп эскпресс{% endblock %}

{% block title %}{{ parent() }} - О нас{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="preview_area">
        <div class="preview_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="preview_content">
                    <div class="page_link">
                        <a href="{{ path("index") }}">Главная</a>
                        <a href="{{ path("documentation") }}">Документы</a>
                    </div>
                    <h2>Нормативные документы</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->


    <!--================ User Agreement =================-->
    <section class="container pt-5 pb-5 text-justify">
        <div class="row">
            <div class="col-md-12" style="font-size: 18px;">
                <h4 class="mp-section-h4">Соглашение на обработку персональных данных</h4>
                <p class="text-center">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</p>
                <p>
                    Я, субъект персональных данных, в соответствии с Федеральным законом от 27 июля 2006 года №
                    152 «О персональных данных» предоставляю {ИМЯ КОМПАННИИ}, расположенному
                    по адресу {АДРЕС КОМПАНИИ}, согласие на обработку персональных
                    данных, указанных мной в форме заказа автобуса, в форме оставить отзыв, в форме задать вопрос в сети
                    «Интернет», владельцем которого является Оператор.
                <p>
                    Организационно-правовая форма — унитарные предприятия, основанные на праве хозяйственного
                    ведения.
                </p>
                <ul>
                    <li>
                        Состав предоставляемых мной персональных данных является следующим: ФИО, адрес электронной почты
                        и номер телефона.
                    </li>
                    <li>Целями обработки моих персональных данных являются: обеспечение отправления заявки на услуги,
                        обеспечение возможности оставить комментарий, обеспечение возможности задать вопрос.
                    </li>
                    <li>Согласие предоставляется на совершение следующих действий (операций) с указанными в настоящем
                        согласии персональными данными: сбор, систематизацию, накопление, хранение, уточнение
                        (обновление, изменение), использование, передачу (предоставление, доступ), блокирование,
                        удаление, уничтожение, осуществляемых как с использованием средств автоматизации
                        (автоматизированная обработка), так и без использования таких средств (неавтоматизированная
                        обработка).
                    </li>
                    <li>Я понимаю и соглашаюсь с тем, что предоставление Оператору какой-либо информации о себе, не
                        являющейся контактной и не относящейся к целям настоящего согласия, а равно предоставление
                        информации, относящейся к государственной, банковской и/или коммерческой тайне, информации о
                        расовой и/или национальной принадлежности, политических взглядах, религиозных или философских
                        убеждениях, состоянии здоровья, интимной жизни запрещено.
                    </li>
                    <li>В случае принятия мной решения о предоставлении Оператору какой-либо информации (каких-либо
                        данных), я обязуюсь предоставлять исключительно достоверную и актуальную информацию и не вправе
                        вводить Оператора в заблуждение в отношении своей личности, сообщать ложную или недостоверную
                        информацию о себе.
                    </li>
                    <li>Я понимаю и соглашаюсь с тем, что Оператор не проверяет достоверность персональных данных,
                        предоставляемых мной, и не имеет возможности оценивать мою дееспособность и исходит из того, что
                        я предоставляю достоверные персональные данные и поддерживаю такие данные в актуальном
                        состоянии.
                    </li>
                    <li>Согласие действует по достижении целей обработки или в случае утраты необходимости в достижении
                        этих целей, если иное не предусмотрено федеральным законом.
                    </li>
                    <li>Согласие может быть отозвано мною в любое время на основании моего письменного заявления.</li>
                </ul>

                {% if redirect_url is defined and not redirect_url is null %}
                    <div class="pt-3">
                        <a href="{{ redirect_url }}" class="mb-5" title="Вернуться назад">Вернуться назад</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

