{% extends 'base.html.twig' %}


{% block body %}
    <!--================Home Banner Area =================-->
    <section class="home_preview_inner">
        <div class="preview_inner d-flex align-items-center">
            <div class="container">
                <div class="preview_content bounceIn">
                    <h2>250 километров</h2>
                    <h1>Протяженность маршрутной сети</h1>
                    <a class="main_btn" href="{{ path("about") }}">Узнать больше</a>
                </div>
            </div>
        </div>
{#        <div class="container">#}
{#            <form action="{{ path('index') }}" method="post">#}
{#                <div class="advanced_search">#}
{#                    <h3>Заказать</h3>#}
{#                    <div class="form-group text-left">#}
{#                        <label class="mb-0" for="fio">Ф.И.О:</label>#}
{#                        <input class="form-control mb-2 text-secondary" type="text" name="fio" placeholder="Ф.И.О."#}
{#                               required>#}
{#                    </div>#}
{#                    <div class="form-group text-left">#}
{#                        <label class="mb-0" for="dateOt">Дата:</label>#}
{#                        <input class="form-control mb-2 text-secondary" id="dateOt" type="date" name="date">#}
{#                    </div>#}

{#                    <div class="form-group text-left">#}
{#                        <label class="mb-0" for="inputEmail">Email:</label>#}
{#                        <input type="email" class="form-control mb-2 text-secondary" id="inputEmail"#}
{#                               aria-describedby="email" name="email" placeholder="Email">#}
{#                    </div>#}

{#                    <div class="form-group text-left">#}
{#                        <label class="mb-0" for="telephone">Телефон:</label>#}
{#                        <div class="input-group">#}
{#                            <div class="input-group-prepend">#}
{#                                <span class="input-group-text" style="font-size: 0.99rem">+7</span>#}
{#                            </div>#}
{#                            <input type="tel" class="form-control text-secondary" placeholder="(555)-555-55-55"#}
{#                                   name="phone" id="telephone">#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="form-group text-left">#}
{#                        <label class="mb-0" for="numberPeople">Кол-во чел.:</label>#}
{#                        <input type="number" class="form-control mb-2 text-secondary" id="numberPeople" name="number"#}
{#                               placeholder="0">#}
{#                    </div>#}


{#                    <button type="submit" value="submit" class="btn submit_btn">Отправить заявку</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Section Calc Area ====================-->
    {% include "modules/section.calc.html.twig" %}
    <!--================End Section Calc Area ================-->


    <!--================Feature Area =================-->
    <section class="feature_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Почему мы самые лучшие?</h2>
            </div>
            <div class="row feature_inner text-dark font-weight-bold">
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <p><i class="lnr lnr-bus mr-2" style="font-size: 1.5rem"></i>Собственный обширный автопарк.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <p><i class="lnr lnr-bus mr-2" style="font-size: 1.5rem"></i>Автотранспорт, на сто процентов
                            подготовленный к очередному рейсу.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <p><i class="lnr lnr-bus mr-2" style="font-size: 1.5rem"></i>Слаженная работа отдела логистики.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <p><i class="lnr lnr-bus mr-2" style="font-size: 1.5rem"></i>Быстрая обработка заявок.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <p><i class="lnr lnr-bus mr-2" style="font-size: 1.5rem"></i>Работа в выходные и праздники.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <p><i class="lnr lnr-bus mr-2" style="font-size: 1.5rem"></i>Внимание к пожеланиям клиента.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Feature Area =================-->

    <!--================Testimonials Area =================-->
    <section class="testimonials_area p_120">
        <div class="container">
            <div class="row testimonials_inner">
                <div class="col-lg-12">
                    <h3 class="p-2 text-white">Форма для связи</h3>
                    {% include "modules/forms/feedback.html.twig" %}
                </div>
            </div>
        </div>
    </section>
    <!--================End Testimonials Area =================-->
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("js/calc.js") }}"></script>
{% endblock %}
