{% extends 'index_admin/base_admin.html.twig' %}

{% block title %}{{ parent() }} - Начальная страница {% endblock %}

{% block sidebar_menu %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="{{ path('index_admin') }}" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Начальная страница
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('admin_feedback') }}" class="nav-link">
                    <i class="nav-icon fas fa-envelope-open-text"></i>
                    <p>
                        Обратная связь
                    </p>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content_wrapper_header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Начальная страница</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('index_admin') }}">Главная</a></li>
                        <li class="breadcrumb-item active">Начальная страница</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content_wrapper_main %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">Таблица с обратной связью</h5>

                            <p class="card-text">
                                Здесь можно посмореть сообщения, поступившие на сайт.
                            </p>
                            <a href="#" class="card-link">Пурейти</a>
                        </div>
                    </div><!-- /.card -->
                </div>
                <!-- /.col-lg-6 -->

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
